
h1{
    font-size: 50px;
    color:rgb(202, 72, 12);
    text-align: center;
    font-family: 'Love Ya Like A Sister', cursive;
}
p.myQuestion{
    color:rgb(214, 106, 55);
    text-align: center;
    font-size: 35px;
    font-family: 'Love Ya Like A Sister', cursive;
    
}
h1{
    /* position: relative; */
}
.myAnswers{
    width: 160px;
    height: 50px;
    font-size: 26px;
    font-family: 'Amatic SC', cursive;
    line-height: 80%;
    color:white;

}
.Answers{
    float:right;
    margin-top:-40%;
    margin-right:60px;
    font-family: 'Love Ya Like A Sister', cursive;
    line-height: 80%;
}
#timeRemaining{
    font-family: 'Love Ya Like A Sister', cursive;
    margin-left:30px; 
}

#start-correctOrWrong {

    width: 160px;
    height: 50px;
    position: relative;
    top: 63%;
    margin-left:220px;
 
 }

 
 #bigButton {
 
    background-image: url("../images/Center_Button.png");
    background-size: 130%;;
    margin-top:-190px;
    background-repeat: no-repeat;
    width: 750px;
    height: 750px;
    text-align: center;
 
 }
 .correctAnswer{
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 26px;
    Margin-top:60px;
 }